<h1 mat-dialog-title>Edit row</h1>
<div class="py-4" mat-dialog-content>
  <form [formGroup]="form" class="edit-row-form">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput placeholder="London" formControlName="city" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput placeholder="Poland" formControlName="country" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Temperature</mat-label>
      <input matInput placeholder="12" formControlName="temp" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wind</mat-label>
      <input matInput placeholder="10" formControlName="wind_kph" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Humidity</mat-label>
      <input matInput placeholder="68" formControlName="humidity" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput formControlName="custom_id" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    mat-dialog-close
    (click)="updateRow()"
    [disabled]="form.status === 'INVALID'">
    Save
  </button>
</div>
